body {
    background-image: url('./img/bg.gif');
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

h1 {
    font-size: 1.5em;
    text-shadow: (2px, 2px, black);
    text-align: center;
}

.keypadButtonGroup {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 0.2em;
    padding-top: 2em;
}

.keypadButtonGroup button {
    background: grey;
    color: white;
    padding: 1em 0.5em;
}

input.correct {
    background-color: green;
}

.footer { 
    position: absolute; 
    bottom: 0;
    z-index: 10;
    font-size: 0.8em;
}

